@model Examination.WEB.Models.TestResultsViewMode

@{
    ViewData["Title"] = "Details";
}

<h1>Attestation details:</h1>

<p>
    <dl class="row">
        <dt class="col-sm-2">
            Start time:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attestation.StartTime)
        </dd>
        <dt class="col-sm-2">
            End time:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attestation.EndTime)
        </dd>
        <dt class="col-sm-2">
            User name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attestation.UserName)
        </dd>
        <dt class="col-sm-2">
            Test:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Test.Name)
        </dd>
        <dt class="col-sm-2">
            Total questions:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Test.Questions.Count)
        </dd>
        <dt class="col-sm-2">
            Correct Answers:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CorrectCount)
        </dd>
        <dt class="col-sm-2">
            Errors:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IncorrectCount)
        </dd>
        <dt class="col-sm-2">
            Result:
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsPassed)
            {
                <div class="bg-success">Passed</div>
            }
            else
            {
                <div class="bg-danger">Failed</div>
            }
        </dd>
    </dl>
</p>
<h1>Protocol:</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Question
            </th>
            <th>
                Answer
            </th>
            <th>
                Is correct
            </th>
            <th>
                Correct answer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Attestation.Protocols)
        {
            if (item.Answer.IsValid)
            {
                <tr class="alert-success">
                    <td>
                        @Html.DisplayFor(modelItem => item.Question.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Answer.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Answer.IsValid)
                    </td>
                </tr>
            }
            else
            {
                <tr class="alert-danger">
                    <td>
                        @Html.DisplayFor(modelItem => item.Question.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Answer.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Answer.IsValid)
                    </td>
                    <td>
                        @item.Question.CorrectAnswer
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div>
    <a asp-controller="Attestation" asp-action="Index">Back to List</a>
</div>

