@model IEnumerable<Examination.WEB.Models.AttestationItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Attestations</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attestation.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attestation.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attestation.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Attestation.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Test.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attestation.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attestation.EndTime)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Attestation.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
