@model Examination.Data.Models.Question

@{
    ViewData["Title"] = "Execute";
}

<h1>Execute</h1>

<div>
    <h4>Question (@ViewBag.QuestionNumber of @ViewBag.QuestionCount)</h4>
    <hr />
    <form action="" method="post">
        <dl class="row">
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Text)
            </dd>
        </dl>
        @for (int i = 0; i < Model.Answers.Count; i++)
        {
            <div><input type="radio" name="Answer" /> @Model.Answers.ToList()[i].Text</div>
        }

        <div>
            <hr>
            @if (ViewBag.QuestionNumber != 1)
            {
                <input type="submit" name="navigationBtn" class="btn-info" value="Prev" />
            }
            @if (ViewBag.QuestionNumber != ViewBag.QuestionCount)
            {
                <input type="submit" name="navigationBtn" class="btn-info" value="Next" />
            }
        </div>
        <input type="hidden" name="QuestionNumber" value="@ViewBag.QuestionNumber" />
        <input type="hidden" name="TestId" value="@ViewBag.TestId" />
    </form>
    

</div>
<div>
        
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>*@
</div>
